<ion-content *ngIf="isLogged" color="primary">
  <div class="ion-text-center ion-margin-top">
    <ion-text color="primary">
      <h2>Bienvenido {{usuario.nombre}} </h2>
    </ion-text>
  

<ion-item color="primary">
  <ion-icon  name="person-outline"></ion-icon><ion-label>{{usuario.nombreUsuario}}</ion-label>
</ion-item>
<ion-item color="primary">
  <ion-icon name="mail-outline"></ion-icon><ion-label>{{usuario.email}}</ion-label>
</ion-item>

<ion-item-divider >
</ion-item-divider>
</div>
</ion-content>
