.aciertos{
   
        color: white;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        font-size: xx-large;
        margin-bottom: auto;
    
}
.icon{
  font-size: xx-large;
  margin-top: 10px;
}

ion-slides {
    height: auto;
  }
  ion-slide{
    height: auto;
  }

  ion-avatar{
    width:150px ;
   height:200px;
 --border-radius: 10px;
} 
ion-avatar img { 
   width: 150px !important; 
   height: 200px!important; } 
.swiper-slide {
     overflow-y: scroll;    
     display: block;    
 }
 ion-item{
   text-align: justify;
   font-family: 'Oswald', sans-serif;

   margin-bottom: 10px;
   
 }