

ion-card-title{
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: #f2c703;
  padding: 10px;
}
ion-card-content{
 
  font-size: small;
  

}
.titulo{
    font-size: x-small;
    color: #000000;
    text-align: center;
    text-transform: none;

  }

ion-img{
    align-items: center;
    width: 100px;
    margin-left: 50%;
    margin-left: 90px;
}