.content{
//position: fixed;
margin-top: 10px;
margin-left: 10px;

}

ion-card-title{
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: bold;
  color: #f2c703;
}
ion-card-content{
 
  font-size: small;
  

}
.titulo{
    font-size: small;
    color: #000000;
    text-align: center;
    text-transform: none;

  }

ion-img{
    align-items: center;
    width: 100px;
    margin-left: 50%;
    margin-left: 90px;
}