.aciertos{
   
    color:white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;

}
ion-content{
  //  --background:url('/assets/imagenes/solucionquiz.jpg') 0 0/100% 100% no-repeat;

  --ion-background-color:#0b0b0b;
  }