ion-icon{
    color: #f2c703;
    padding: 5px;
  
  }
  ion-label{
     --color	:white;
  font-size:xx-large;
  font-weight: bold;
     padding: 20px;;
  }

 h3{
     padding-top: 20px;
     padding-bottom: 10px;
    color: #ffc409;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
