<ion-content  >
  <ion-slides #mySlider (ionSlideDidChange)="slidechanged()" >
    <ion-slide *ngFor="let pregunta of preguntas" class="swiper-no-swiping"style="border: 0px solid white;">
      <ion-card  >
        <ion-card-header >
          <ion-card-subtitle><h2 class="tiempo">{{count}}</h2></ion-card-subtitle>
          <ion-card-subtitle>{{pregunta.logro.nombre}}
            <p text-center style="color:#ffc409;">{{page}}/7</p>
          </ion-card-subtitle>
          <ion-card-title > {{pregunta.pregunta}}</ion-card-title>
        </ion-card-header>
        <ion-card-content  > 
          <ion-card-content  > 
            <ion-radio-group [(ngModel)]="respuestaUsuario" name="radio-group" #radioGroup >
              <ion-item  *ngFor="let respuesta of respuestasDePregunta"  lines="none">
               {{respuesta.respuesta}}
                <ion-radio name="respuesta" slot="end" color="danger" value="{{respuesta.respuesta}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-button *ngIf="(!ultima)"(click)="swipeNext()" color="primary" expand="block"  class="ion-no-margin"><ion-icon name="arrow-forward-outline"></ion-icon>Siguiente</ion-button>
            <ion-button *ngIf="(ultima)"  (click)="terminarJuego()" color="primary" expand="block"  class="ion-no-margin"><ion-icon name="arrow-forward-outline" ></ion-icon>Terminar</ion-button>
          </ion-card-content>
        </ion-card-content>
      </ion-card>
      </ion-slide>
  </ion-slides>
</ion-content>