ion-card-content{
    font-size:large;
    color:black;
    //font-family: 'Oswald', sans-serif;     
}

ion-card-title{
    color: #ffc409;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

a{
    padding: 10px;
}
ion-icon{
    padding: 3px;
}
