<app-header title="About us" > </app-header>
<ion-content style="height: auto; width: auto;" color="primary" >

  <ion-card>
    <ion-card-header>
      <ion-card-title>PAGE INFO</ion-card-title>
    </ion-card-header>
  <ion-img  src="../../../assets/imagenes/about.jpg"></ion-img>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline"></ion-icon>Founded on September 5,2017
      </ion-item>
     
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CONTACT INFO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon><a  href="mailto:ignotocracia@gmail.com" >ignotocracia@gmail.com</a><br>
      </ion-item>
     <ion-item lines="none"> 
      <ion-icon name="globe-outline"></ion-icon><a href="https://ignotocracia.com" target="_blank">www.ignotocracia.com</a><br>
     </ion-item>
     
      
      <ion-item lines="none">
        <ion-icon name="logo-twitter"></ion-icon><a href="https://twitter.com/ignotocracia">ignotocracia</a><br>
      </ion-item>
      <ion-item lines="none">
         <ion-icon name="logo-instagram"></ion-icon>ignotocracia
      </ion-item>
     
    </ion-card-content>
  </ion-card>



</ion-content>
