
   .content{
     //position: fixed;
     margin-top: 10px;
     margin-left: 10px;
 
    
     
   
   
   }
   .button-action{
   margin-left: 5px;
   }
   .signup-text{
     font-size: x-small;
     color: #e44f34;
     text-align: center;
     text-transform: none;
   
    
   }
   ion-icon{
     color:#f2c703; 
   }
   
   
   .signin-text{
     font-size:medium;
   //  color: #000000;
     text-align: center;
     text-transform: none;

   }
   /*ion-input{
     background-color: #ededed;
     border-radius: 5px;
     font-size: small;
     
   }*/
   ion-input{
     border-bottom: 1px solid #02c19e;
     font-size: medium;
    color: white;
   }
   
   .actionbutton{
     background-color:#f2c703;
     color: black;
     border-radius: 5px;
     margin-left: 5px;
     margin-right: 13px;
     font-size: small;

    
   }
   ion-segment-button {
    --background-checked: white;
    --color-checked: black;
  }
   
   .line{
       border-bottom: 1px solid grey;
       margin-bottom: 16px;
   }
   .botonfb{
     background-color: #3b5998;
     border-radius: 6px;
     color: cornsilk;
     margin-bottom: 12px;
     text-transform: none;
     width: 95%;
     font-size: small;
     font-family: 'Oswald', sans-serif;
   }
   .botongoogle{
     background-color: #ea4335;
     border-radius: 6px;
     color: cornsilk;
     margin-bottom: 12px;
     text-transform: none;
     width: 95%;
     font-size: small;
    
   }
   ion-segment{
    //--background:#f2c703;
   }

   