<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content color="primary">
    <ion-card class="card" *ngFor="let pregunta of preguntas">
        <ion-card-header >
          
          <center><ion-avatar ><ion-img  src="{{pregunta.imagen}}"></ion-img></ion-avatar></center>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>{{pregunta.pregunta}}</ion-card-title>
        </ion-card-header>
        <ion-card-content  > 
        <center><div>
            <ion-button  color="warning"  (click)='enviarPregunta(pregunta)' > <ion-icon  name="create-outline"></ion-icon>Editar</ion-button>
            <ion-button  color="danger" (click)="eliminarPregunta(pregunta)">  <ion-icon  name="trash-outline"></ion-icon>Eliminar</ion-button>
        </div></center> 
            
        <div *ngIf="(ver)">
            <ion-item *ngFor="let respuesta of respuestas">
                <ion-label  >{{respuesta.respuesta}}</ion-label>
            </ion-item>
        </div>
        </ion-card-content>
      </ion-card>
 

</ion-content>
